*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;

    font-family: Arial, sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;

    background:
    repeating-linear-gradient(
        45deg,
        #ffb6d9,
        #ffb6d9 40px,
        #ff8fc4 40px,
        #ff8fc4 80px
    );

    padding: 30px;
}

.page-container{
    width: 100%;
    max-width: 1100px;
}

.search-card{
    background-color: #ffd8ec;

    padding: 40px;

    border-radius: 30px;

    text-align: center;

    box-shadow: 0 10px 25px rgba(0,0,0,0.15);

    margin-bottom: 30px;
}

.search-card h1{
    color: #ff4fa3;

    margin-bottom: 25px;

    font-size: 2rem;
}

.search-card input{
    width: 100%;

    padding: 16px;

    border: none;

    border-radius: 20px;

    background-color: #fff5fb;

    font-size: 1rem;

    margin-bottom: 20px;

    outline: none;
}

.search-card button{
    padding: 16px 28px;

    border: none;

    border-radius: 20px;

    background-color: #ff4fa3;

    color: white;

    font-size: 1rem;

    cursor: pointer;

    transition: 0.3s;
}

.search-card button:hover{
    background-color: #ff2d91;
}

.movie-card{
    background-color: #dff4ff;

    border-radius: 30px;

    padding: 30px;

    display: flex;

    gap: 30px;

    align-items: center;

    box-shadow: 0 10px 25px rgba(0,0,0,0.15);

    margin-bottom: 20px;
}

.poster-frame{
    background-color: #ffb3da;

    padding: 15px;

    border-radius: 25px;

    position: relative;
}

.poster-frame img{
    width: 280px;

    border-radius: 20px;

    display: block;
}

.movie-info{
    color: #4a4a4a;

    display: flex;

    flex-direction: column;

    gap: 12px;
}

.movie-info h2{
    color: #ff4fa3;

    margin-bottom: 10px;
}

#message{
    text-align: center;

    color: white;

    font-size: 1.1rem;

    margin-bottom: 20px;
}

.enjoy-text{
    text-align: center;

    color: white;

    font-size: 1.2rem;

    margin-top: 10px;
}

.hidden{
    display: none;
}

@media(max-width: 850px){

    .movie-card{
        flex-direction: column;
    }

    .poster-frame img{
        width: 100%;
        max-width: 300px;
    }
}.poster-frame::before{
    content: "🎀";
    position: absolute;
    top: -25px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 45px;
}

.poster-frame::after{
    content: "🎀";
    position: absolute;
    bottom: -25px;
    right: -15px;
    font-size: 35px;
}